<!--meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Dashboard</title>

<!--font awesome cdn-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--my personal font-awesome cdn -->
<script src="https://kit.fontawesome.com/11b6095cfd.js" crossorigin="anonymous"></script>
<!--swiperjs cdn -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--internal stylesheet-->
<link rel="stylesheet" href="/assets/css-files/common-styles.css">
<link rel="stylesheet" href="/assets/css-files/theme.css">
<link rel="stylesheet" href="/assets/css-files/index.css">
