<!--meta tags-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<title>Dashboard</title>

<!--font awesome cdn-->

<!--swiperjs cdn -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--internal stylesheet-->
<link rel="stylesheet" href="/assets/css-files/common-styles.css">
<link rel="stylesheet" href="/assets/css-files/theme.css">
<link rel="stylesheet" href="/assets/css-files/index.css">
