<head>
  <link rel="stylesheet" href="/assets/css-files/history.css">
</head>
<main>
  <div class="searcher">
    <label for="search" class="search-label" id="search-label"> <i style="font-size:1.4em" class="fa">&#xf002;</i></label>
    <input type="search" class="search" id="search" placeholder="Search">
    <i style="font-size:1.7em" class="fa lens">&#xf073;</i>
  </div>

  <span class="rec-details">
    <h4 class="date">24 Jan 2024</h4>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
  </span>

  <span class="rec-details">
    <h4 class="date">24 Jan 2024</h4>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
  </span>

  <span class="rec-details">
    <h4 class="date">24 Jan 2024</h4>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
  </span>

  <span class="rec-details">
    <h4 class="date">24 Jan 2024</h4>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
  </span>

  <span class="rec-details">
    <h4 class="date">24 Jan 2024</h4>
    <div class="trans-details">
      <span class="logo"></span>
      <span class="num-time">
        <h4 class="mobile">Mtn ng Vtu 2347060544433</h4>
        <h6 class="time">07:17pm</h6>
      </span>
    </div>
  </span>
  <br>
  <br>
  <br>
  <br>
</main>
<!--</html>-->