<!DOCTYPE html>
<html lang="en">
<head>
    <title>Log In</title>
    <!--ejs template -->
    <%- head %>
    <%- bootstrap %>
    <link rel="stylesheet" href="/assets/css-files/log-in.css">
</head>
<body>
    <section class="upper">
        <div class="upper-back"></div>
        <span class="back" onclick="history.back()"><i class="material-icons" style="font-size:30px;">&#xe5c4;</i></span>
    </section>
    <button class="theme" role="switch" aria-label="light/dark mode"></button>
    <main>
        <h2>Log in</h2>
        <form id="logInForm">
            <label for="email" id="input-l"><i class="material-icons">&#xe0be;</i></label>
            <input type="email" id="email" class="input" name="email" placeholder="Email"><br>
            <label for="password " id="input-ll"> <i class="material-icons">&#xe897;</i>   <span id="eyeicon">  <i class="fa-solid fa-eye-slash"></i>  </span></label>
            <input type="password" class="input" id="password" name="password" placeholder="Password"><br>
            <div class="rem-me-and-pass">
                <div id="check-and-rem">
                    <input type="checkbox" class="rem-me" id="rem-me" name="rem-me">
                    <label for="rem-me" class="rem-me">Remember me?</label>
                </div>
                <a href="#" class="forgot-pass">Forgot Password?</a>
            </div>

            <button type="submit" class="log-in trans-btn"
                id="log-in"><span id="create-span"> </span><b id="bold"> Login</b></button>

        </form>

        <h4 id="or">Or</h4>

        <button class="google trans-btn" id="googleauth">Google</button>
        <!--<button class="google" id="googleauth">Google</button>-->


        <a href="sign-up"><button class="new-user trans-btn"><b>New user?</b> Create account</button></a>
    </main>
    <script src="/assets/js-files/general.js"></script>
    <script src="/assets/js-files/theme.js"></script>
    <script src="/assets/js-files/src/login.js"></script>
</body>
</html>